@font-face {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.google.com/specimen/Exo+2?preview.text=2020&preview.text_type=custom&sidebar.open=true&selection.family=Exo+2:wght@600');
}
